<launch>
	<node pkg="ekf_slam" type="ekf_slam" name="ekf_slam" args="odom:=odom landmark:=landmark" output="screen" /> 
	<node pkg="myslam_sim_gazebo" type="objects_truth" name="objects_truth" 
		args="gzmodelstates:=/gazebo/model_states" output="screen" /> 
	<arg name="dataset" default="true" />
	<group if="$(arg dataset)">
		<arg name="file" default="/home/ism/code/rosws/src/myslam/myslam_launch/world2-run2.bag" />
		<param name="use_sim_time" value="true" />
		<node pkg="rosbag" type="play" name="player" args="--clock $(arg file)" />
	</group>
</launch>

